{% extends "base.html" %}

{% block title %}Recherche de Recettes{% endblock %}

{% block content %}
<h1 class="text-center">Recherche de Recettes</h1>
<form action="/search" method="post" class="form-inline justify-content-center">
    <input type="text" name="query" class="form-control mr-2" placeholder="Rechercher une recette" value="{{ query }}">
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>

<h2 class="mt-4 text-center">Résultats de la recherche</h2>
<ul class="list-group">
    {% if results %}
        {% for recette in results %}
            <li class="list-group-item">{{ recette['titre'] }}</li>
        {% endfor %}
    {% else %}
        <p class="text-center">Aucun résultat trouvé.</p>
    {% endif %}
</ul>
{% endblock %}
